<section>
  <div class="page-header">
    <h1>Carsearches</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="carsearch in vm.carsearches"
       data-ui-sref="carsearches.view({ carsearchId: carsearch._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="carsearch.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="carsearch.user" data-ng-bind="carsearch.user.displayName"></span>
        <span data-ng-if="!carsearch.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="carsearch.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.carsearches.$resolved && !vm.carsearches.length">
    No Carsearches yet, why don't you <a data-ui-sref="carsearches.create">create one</a>?
  </div>
</section>
